*{
			margin:0;
			padding: 0;
			box-sizing:border-box;
			font-family: sans-serif;
		}
		body{
			display: flex;
			justify-content: left;
			align-items:center;
			min-height: 100vh;
			background: linear-gradient(to bottom,#0c0a17,#1b1638,#4b427d,#2e2659,#403773,#4b427d,#766da6,#1b1638,#0c0a17) ;
			font-variant-position: top;
		}
		.container {
			position: relative;
			width: 900px;
			display: flex;
			flex-wrap: wrap;
		}
		.container .box {
			position: relative;
			width: 275px;
			height: 275px;
			overflow: hidden;
			transition: 0.5s;
		}
		.container .box:hover {
			z-index :1;
			transform: scale(1.25);
			box-shadow: 0 25px 40px rgba(0,0,0,.5);
		}
		.container .box .imgBx {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
            
		}
		.container .box .imgBx img {
			position: absolute;
			top: 0;
			left:0;
			width:100%;
			height: 100%;
            object-fit: cover;
		}
		.container .box .imgBx:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
			mix-blend-mode: multiply;
			opacity: 0;
			transition: 0.5s;
		}
		.container .box:hover .imgBx:before {
			opacity: 1;
		} 
		.container .box .content {
			position: absolute;
			top: 0;
			left:0;
			width: 100%;
            height: 100%;
            z-index: 2 ;
            display:flex;
            padding:20px;
            align-items: flex-end;
		}
		.container .box .content h2{
			color: #fff;
			transition: 0.5s;
			text-transform: uppercase;
			margin-bottom: 5px;
			font-size: 20px;
			transform: translateY(200px);
		}
		.container .box:hover .content  h2{
          transform: translateY(0);
          transition-delay: 0.1s;
		}
		.sub {
			font-family: sans-serif;
			color:#fff;
		}
		ul{
			display: flex;
 margin-right: 20px;
 float: left;
 list-style-type: none;
 margin-top: 25px;
}

ul li{
 display: inline-block;
}

ul li a{
 text-decoration: none;
 color: #fff;
 padding: 5px 20px;
 border: 1px solid #000;
 transition: 0.6s ease;
}

ul li a:hover{

 background-color: #fff;
 color: #000;
}

@media (max-width: 1028px){

	.allImage {
		display: block;
	}

	.container {
		width: 30rem;
		height: 20rem;
	}


	img {
		width: 30rem;
		height: 30rem;
	}
	}