input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.submit:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background:  #f2f2f2;
  padding: 20px;
}
ul {
            display: flex;
            margin-right: 20px;
            float: right;
            list-style-type: none;
            margin-top: 25px;
        }

ul li{
 display: inline-block;
}

ul li a{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  /*
 text-decoration: none;
 color: #fff;
 padding: 5px 20px;
 border: 1px solid #000;
 transition: 0.6s ease;
  */
}

ul li a:hover{

 background-color: #45a049;
}