body
{

    font-family: 'Montserrat-black', sans-serif;
}
#title
{
  background-color: #ff4c68;
  color: #fff;
}
h1
{ font-family: 'Montserrat-black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2
{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
h3
{ font-family: 'Montserrat-black', sans-serif;
  font-weight: bolder;
  font-size: 1.17rem;
}
p
{
   color: #8f8f8f;
}
.container-fluid
{
  padding: 3% 15% 7%;
}
/* Navigation bar */
.navbar{
  padding:0 0 4.5rem;

}
.nav-item
{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand
{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;

}
/* Download buttons */
 .Download-button
 {
   margin: 5% 3% 5% 0;
 }
 /* title image */
 .title-image
 {
   width:60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
 }
 #features
 {
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
 }
.feature-box
{
  text-align: center;
  padding: 5%;
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}

/* testimonials */

#testimonials
{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonal-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item
{padding: 7% 15%;

}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-logo
{
  width: 15%;
  margin:20px 20px 50px;
}

#pricing
{
  padding: 100px;
  text-align: center;
}
.pricing-column
{
  padding: 3% 2%;
}
#cta
{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;

}
.cta-heading
{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon
{
  margin:20px 10px;
}
@media (max-width:1028px)
{#title{
  text-align: center;
}
  .title-image
{
  position:static;
  transform: rotate(0);
  }
}
